.ui-gauge-arc {
    width: 100%;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    text {
        font-size: var(--ui-gauge-font-size__tick-label);
        fill: var(--ui-gauge-color__tick-label);
    }

    &__label {
        position: absolute;
        text-align: center;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: bold;
    }

    &__border {
        stroke: var(--ui-gauge-color__border);
        fill: none;

        &-head {
            fill: var(--ui-gauge-color__border);
        }

        &-tail {
            fill: var(--ui-gauge-color__border);
        }
    }

    &__bg {
        fill: none;
    }

    &__fg {
        fill: none;
        transition: all .5s ease-in-out;
    }
}