:root {
    --ui-gauge-color__error: #DF5353;
    --ui-gauge-color__warning: #DDDF0D;
    --ui-gauge-color__ok: #55BF3B;
    --ui-gauge-color__ticks: #000;
    --ui-gauge-color__subticks: #999;
    --ui-gauge-color__needle: #000;
    --ui-gauge-color__ticklabels: #666;
    --ui-gauge-color__border: #bbb;
    --ui-gauge-gradient__top: #fff;
    --ui-gauge-gradient__bottom: #ccc;
}