.ui-gauge-meter {
    width: 100%;
    position: relative;
    padding-bottom: 2em;

    svg {
        width: 100%;
        height: 100%;
        font-size: 5px;
    }

    &__label {
        fill: var(--ui-gauge-color__label);
        font-size: var(--ui-gauge-font-size__label);
        text-anchor: middle;
    }

    &__value {
        position: absolute;
        text-align: center;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: bold;
        background: #fff;
        border-radius: .25em;
        padding: .25em .5em;
        border: 1px solid #ddd;
    }

    &__ticks {
        stroke: var(--ui-gauge-color__ticks);
        fill: none;
    }

    &__subticks {
        stroke: var(--ui-gauge-color__subticks);
        fill: none;
    }

    &__needle {
        fill: var(--ui-gauge-color__needle);
        transition: all .5s ease-in-out;
    }

    &__ticklabel {
        font-size: var(--ui-gauge-font-size__tick-label);
        fill: var(--ui-gauge-color__tick-label);
        dominant-baseline: middle;
        text-anchor: middle;
    }

    &__scale {
        fill: none;

        &--ok {
            stroke: var(--ui-gauge-color__ok);
        }
    
        &--warning {
            stroke: var(--ui-gauge-color__warning);
        }
    
        &--error {
            stroke: var(--ui-gauge-color__error);
        }
    }
}